<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Edit Article</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/articles">Articles</a></li>
            <li class="breadcrumb-item activce">{{article.title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Main row -->
      <div class="row">
        <div class="col-12">
        <div class="card" width="100%">
          <div class="card-header">
            <h3 class="card-title">Edit Article</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <p><strong>Title:</strong> {{article.title}}</p>
            <p><strong>Headline:</strong> {{article.headline}}</p>
            <p><strong>Content:</strong> {{article.content}}</p>
            <p><strong>Added At:</strong> {{article.addedAt | date: "yyyy-MM-dd HH:MM"}}</p>
          </div>
          <!-- /.card-body -->
        </div>
        </div>
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
