<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Edit Article</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/articles">Articles</a></li>
            <li class="breadcrumb-item activce">{{article.title}}</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <form [formGroup]="articleForm">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Title
                                </h3>
                                <!-- tools box -->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                            title="Collapse">
                                        <em class="fas fa-minus"></em></button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pad">
                                <div class="mb-3">
                                    <input type="text" id="title" name="title" value="{{article.title}}" class="form-control" formControlName="title">
                                </div>
                            </div>
                        </div>


                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Content
                                </h3>
                                <!-- tools box -->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                            title="Collapse">
                                        <em class="fas fa-minus"></em></button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pad">
                                <div class="mb-3">
                                    <textarea name="content" formControlName="content" class="form-control" style="width: 100%; height: 400px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">

                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">

                            <div class="card card-outline card-info">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        General
                                    </h3>
                                    <!-- tools box -->
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                                title="Collapse">
                                            <em class="fas fa-minus"></em></button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body pad">
                                    <div class="mb-3">
                                        <p><strong>Author: </strong>Valaki</p>
                                        <p><strong>AddedAt: </strong>{{article.addedAt | date: "yyyy-MM-dd HH:MM"}}</p>
                                        <p><strong>Status: </strong>{{article.status}}</p>
                                        <button (click)="saveAsDraft()" class="btn btn-info btn-icon-split">
                                          <span class="icon text-white-50">
                                            <em class="fas fa-info-circle"></em>
                                          </span>
                                          <span class="text">Save as Draft</span>
                                        </button>
                                        <button (click)="publish()" class="btn btn-success btn-icon-split">
                                          <span class="icon text-white-50">
                                            <em class="fas fa-check"></em>
                                          </span>
                                          <span class="text">Publish</span>
                                        </button>
                                        <button (click)="delete()" class="btn btn-danger btn-icon-split">
                                          <span class="icon text-white-50">
                                            <em class="fas fa-trash"></em>
                                          </span>
                                          <span class="text">Delete</span>
                                        </button>
                                        <br/>
                                    </div>
                                </div>
                            </div>




                            <div class="card card-outline card-info">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        Featured Image
                                    </h3>
                                    <!-- tools box -->
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                                title="Collapse">
                                            <em class="fas fa-minus"></em></button>
                                    </div>
                                    <!-- /. tools -->
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body pad">
                                    <div class="mb-3">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                             src="../../{{article.featuredImage}}" alt="featured image">
                                    </div>
                                </div>
                            </div>


                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Categories
                                </h3>
                                <!-- tools box -->
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                            title="Collapse">
                                        <em class="fas fa-minus"></em></button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body pad">
                                <div class="mb-3">
                                    <select class="form-control" name="categories" searchable="Search here..">

                                            <option value="one">One</option>
                                            <option value="two">Two</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="card mb-4">
                            <div class="card-header">
                                Tags
                            </div>
                            <div class="card-body">
                                <input type="text" id="tags" name="tags" value="taglist" class="form-control">
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                Excerpt
                            </div>
                            <div class="card-body">
                        <textarea name="headline" formControlName="headline" class="form-control" id="exampleFormControlTextarea2"
                                  rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
