<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Articles</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Articles</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Main row -->
      <div class="row">
        <div class="col-12">
        <div class="card" width="100%">
          <div class="card-header">
            <h3 class="card-title">
              <a href="/articles/add-new-article">Add New Article</a>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="articles" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>AddedAt</th>
                  <th>Author</th>
                  <th>Status</th>
                  <th>Categories</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let article of articles | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                  <td><a href="/articles/{{article.slug}}"><img src="admin-lte/dist/img/default-150x150.png"
                                                                alt="{{article.title}}"
                                                                class="img-size-50 mr-2">{{article.title}}</a></td>
                  <td>{{article.addedAt | date: "yyyy-MM-dd HH:MM"}}</td>
                  <td></td>
                  <td>
                    <span *ngIf="article.status==='published'" class="badge badge-success">{{article.status}}</span>
                    <span *ngIf="article.status==='draft'" class="badge badge-info">{{article.status}}</span>
                    <span *ngIf="article.status==='under lectoring'" class="badge badge-warning">{{article.status}}</span>
                    <span *ngIf="article.status==='rejected'" class="badge badge-danger">{{article.status}}</span>
                  </td>
                  <td>
                    <ul class="articlesCategories">
                      <li *ngFor="let category of article.categories">
                        {{ category.name }}
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Title</th>
                  <th>AddedAt</th>
                  <th>Author</th>
                  <th>Status</th>
                  <th>Categories</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->

          <div class="card-footer clearfix">

            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>


          </div>
        </div>
        </div>
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<script>
  $(function () {
    $('#articles').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

