<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Categories</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Categories</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">
              Add new category
            </h3>
          </div>
          <div class="card-body">
            <form [formGroup]="categoryForm">
              <div class="mb-3">
                <input placeholder="Category Name" type="text" id="name" name="name" value="{{category.name}}" class="form-control" formControlName="name">
              </div>
              <div class="mb-3">
                                    <textarea placeholder="Description" name="description" formControlName="description" class="form-control" style="width: 100%; height: 80px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">

                                    </textarea>
              </div>
              <div class="mb-3">
                <button (click)="addNew()" class="btn btn-success btn-icon-split">
                                          <span class="icon text-white-50">
                                            <em class="fas fa-check"></em>
                                          </span>
                  <span class="text">Publish</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-outline card-info">
          <div class="card-header">
            <h3 class="card-title">
              Categories
            </h3>
          </div>
          <div class="card-body">
            <ul *ngFor="let category1 of categories">
              <li>
                {{category1.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
