/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.articlesCategories {
  display: inline;
  list-style: none;
}

.articlesCategories li {
  display: inline;
}

.articlesCategories li:after {
  content: " ";
}
